@import url(https://fonts.google.com/specimen/Manrope);
:root {
  --primary-light-cyan: hsl(193, 38%, 86%);
  --primary-neon-green:hsl(150, 100%, 66%);

  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(217, 19%, 38%)

  --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral-dark-blue: hsl(218, 23%, 16%);

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 28px;
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
